<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ROApp" ng-controller="mainController" esc-trigger>
<head>
    <title>
        @RenderSection("title", true)
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="http://www.restoudaobra.com.br/" />
    <link rel="alternate" hreflang="pt-BR" href="http://www.restoudaobra.com.br/" />
    <meta name="keywords" content="resto, obra, construção, material, doação, venda, sobra, sustentabilidade, sociedade, social, " />
    <meta name="author" content="Restou da Obra">
    <meta name="copyright" content="Copyright © Restou da Obra. All Rights Reserved.">

    @RenderSection("meta", false)
    @RenderSection("richcards", false)

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <base href="/">

    <script src="_script/lib/jquery/3.1.0/jquery-3.1.0.min.js"></script>
    <script src="_script/lib/angular/1.5.8/angular.js?v=20180522"></script>
    <script src="_script/lib/angular/1.5.8/angular-cookies.min.js"></script>
    @RenderSection("script", false)


    <link href="_style/font.css?v=20180522" rel="stylesheet" />
    <link href="_style/config.css?v=20180522" rel="stylesheet" />
    <link href="_style/struct.css?v=20180522" rel="stylesheet" />
    <link href="_style/style.css?v=20180522" rel="stylesheet" />
    <link href="_style/header.css?v=20180522" rel="stylesheet" />
    <link href="_style/footer.css?v=20180522" rel="stylesheet" />
    <link href="_style/form.css?v=20180522" rel="stylesheet" />
    <link href="_style/dropdown.css?v=20180522" rel="stylesheet" />
    <link href="_style/search.css?v=20180522" rel="stylesheet" />
    <link href="_style/ad.css?v=20180522" rel="stylesheet" />
    <link href="_style/home.css?v=20180522" rel="stylesheet" />
    <link href="_style/myad.css?v=20180522" rel="stylesheet" />
    <link href="_style/how.css?v=20180522" rel="stylesheet" />
    <link href="_style/purpose.css?v=20180522" rel="stylesheet" />
    <link href="_style/identification.css?v=20180522" rel="stylesheet" />
    <link href="_style/contact.css?v=20180522" rel="stylesheet" />
    <link href="_style/payment.css?v=20180522" rel="stylesheet" />


</head>

@RenderBody()

</html>

