@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

@section title {
    @RenderSection("titlePrefix", false)
    Restou da Obra
    @RenderSection("titleSufix", false)
}

@section meta  {
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    @RenderSection("meta", false)
}

@section richcards {
    @RenderSection("richcards", false)
}

@section script {
    <script src="_script/seo/module.js?v=20180522"></script>
    <script src="_script/seo/controller.js"></script>
    <script src="_script/common/directive.js"></script>
}

    <body scroll>

        <partial name="Menu" />

        <main>
            @RenderBody()
        </main>

        <partial name="Footer" />

        <partial name="GoogleAnalytics" />

    </body>
