<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>

        @RenderSection("titlePrefix", false)
        Restou da Obra
        @RenderSection("titleSufix", false)

    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="http://www.restoudaobra.com.br/" />
    <link rel="alternate" hreflang="pt-BR" href="http://www.restoudaobra.com.br/" />
    <meta name="keywords" content="resto, obra, construção, material, doação, venda, sobra, sustentabilidade, sociedade, social, " />
    <meta name="author" content="Restou da Obra">
    <meta name="copyright" content="Copyright © Restou da Obra. All Rights Reserved.">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">

    @RenderSection("meta", false)
    @RenderSection("richcards", false)
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <base href="/">

    <environment include="Development">
        <link href="/roApp/src/assets/css/reset.css" rel="stylesheet" />
        <link href="/assets/js/vendor/fotorama/fotorama.css" rel="stylesheet" />
        <link href="/roApp/src/assets/css/style.css" rel="stylesheet" />
    </environment>

    <environment include="Production">
        <link href="/assets/css/styles.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <partial name="Menu" />
    <main>
        @RenderBody()
    </main>
    <partial name="Footer" />
    <partial name="GoogleAnalytics" />

    <environment include="Development">
        <script src="/assets/js/jquery-3.3.1.min.js"></script>
        <script src="/assets/js/vendor/fotorama/fotorama.js"></script>
        <script src="/assets/js/jquery.app.js"></script>
    </environment>

    <environment include="Production">
        <script src="/assets/js/jquery.js"></script>
    </environment>
    @RenderSection("script", false)


</body>

</html>

