@model BaseViewModel<CardDetailDTO>

@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@using adduo.restoudaobra.constants
@using adduo.methodextension
@{
    var card = Model.Value;
}


<div class="contact">

    <img src="/assets/img/loader.gif" id="contact-loader" />

    <ul id="contact-data">

        <li>
            <i class="name"></i>
            <span id="contact-info-name"></span>
        </li>


        <li>
            <i class="contact-info"></i>
            <span id="contact-info-email"></span>
        </li>

        @if (card.Owner.Phone.NotIsNullOrEmpty())
    {
        <li>
            <i class="phone"></i>
            <span id="contact-info-phone"></span>
        </li>
}

        @if (card.Owner.CellPhone.NotIsNullOrEmpty())
    {
        <li>
            <i class="phone"></i>
            <span id="contact-info-cellphone"></span>
        </li>
}

    </ul>

    <div>
        <i class="location"></i>
        <span title="@(card.Address.District), @(card.Address.City) - @(card.Address.State)">@(card.Address.District), @(card.Address.City) - @(card.Address.State)</span>
    </div>

    <div id="contact-btn" data-ad="@(card.Ad.Guid)">
        <i class="phone"></i>

        @if (card.Ad.Type.Equals(AD_TYPE.DONATION))
        {
            <span>Veja os dados de contato do doador</span>
        }
        else
        {
            <span>Veja os dados de contato do vendedor</span>
        }

    </div>

</div>
