@model CardDetailDTO
@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@{
    var card = Model;

    var type = AdTypeHelper.Get(card);

    var unidade = card.Ad.Quantity;
    var quantity = 0;

    if (int.TryParse(card.Ad.Quantity, out quantity))
    {

        unidade = string.Concat(quantity, " unidades");
    }
}

<div class="description">
    <h1 class="line-info" title="@(card.Ad.Name)">@(card.Ad.Name)</h1>
    <span class="line-info" title="@(card.Ad.Option)">@(card.Ad.Option)</span>
    <span class="line-info" title="@(card.Ad.Brand)">@(card.Ad.Brand)</span>
    <span class="line-info" title="@(unidade)">@(unidade)</span>
    @if (type.isSale)
    {
        <span class="line-info price" title="@(card.Ad.Price.ToString("C"))">@(card.Ad.Price.ToString("C"))</span>
    }
</div>

