@model CardDetailDTO
@using adduo.restoudaobra.web.helper
@using adduo.restoudaobra.web.model
@using adduo.restoudaobra.dto
@{
    var card = Model;
}


<div class="contact">
    <div>
        <i class="name"></i>
        <span title="@(card.Owner.FirstName)">@(card.Owner.FirstName)</span>
    </div>
    <div>
        <i class="contact-info"></i>
        <span>@(card.Owner.Email)</span>
    </div>

    @if (!card.Owner.Phone.Equals(string.Empty))
    {
        <div>
            <i class="phone"></i>
            <span>@(card.Owner.PhoneFormat)</span>
        </div>

    }

        @if (!card.Owner.CellPhone.Equals(string.Empty))
    {
        <div>
            <i class="phone"></i>
            <span>@(card.Owner.CellPoneFormat)</span>
        </div>

    }

    <div>
        <i class="location"></i>
        <span title="@(card.Address.District), @(card.Address.City) - @(card.Address.State)">@(card.Address.District), @(card.Address.City) - @(card.Address.State)</span>
    </div>
</div>
