@model CardDetailDTO
@using adduo.restoudaobra.dto
@using adduo.restoudaobra.web.model
@using System.Collections.Generic
@{
    var card = Model;
}



<div id="fotorama" class="fotorama " data-nav="thumbs">

    @foreach (var image in card.Images)
    {
        <img src="@(image)" alt="Foto de @(card.Ad.Name) - @(card.Ad.Brand)" title="Foto de @(card.Ad.Name) - @(card.Ad.Brand)" />
    }

</div>
