@model CardSearchDTO
@using adduo.restoudaobra.dto;
@using adduo.restoudaobra.web.helper
@{
    var helper = AdTypeHelper.Get(Model);

}

<a class="item @(helper.Type.ToString().ToLower())" href="/@(helper.URL)/@Model.Ad.URL/@Model.Ad.Guid" title="@Model.Ad.Name">
    <div class="item-thumb" style="background-image:url(@Model.Image)"></div>
    <i>@(helper.Name)</i>
    <h2>@Model.Ad.Name</h2>
    <span>Estou @(helper.Name)</span>
</a>
